[Unit]
Description=IPFS daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
User=ipfs
Group=ipfs
StateDirectory=ipfs