[Unit]
Description=IPFS daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
User=ipfs
Group=ipfs
StateDirectory=ipfs
TimeoutStartSec=10800
LimitNOFILE={{ ipfs_fd_max }}
MemorySwapMax=0
MemoryMax=2G
TasksMax=512
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ReadWritePaths={{ ipfs_home }}
Environment="IPFS_PATH={{ ipfs_home }}/.ipfs"
