[Unit]
Description=IPFS daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
User=ipfs
Group=ipfs
StateDirectory=ipfs
TimeoutStartSec=10800
LimitNOFILE={{ ipfs_fd_max }}
Environment="IPFS_PATH={{ ipfs_home }}/.ipfs"
